# folders
data/
!notebooks/data
credentials/
.ipynb_checkpoints/
__pycache__/
.idea/
examples/
.DS_Store
*.egg-info/
*.egg
old-r-scripts/
.env
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# file types
**/*.ttf
